In [33]:
import pandas as pd 
import numpy as np 
import nltk
import ssl
from nltk import ne_chunk

print("hello")

ssl._create_default_https_context = ssl._create_unverified_context
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/maxwelllondon/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [34]:
df = pd.read_csv("./chatgpt.csv.bz2").sample(2000)

In [35]:
df.head()

,date,id,content,username,like_count,retweet_count
265567,2023-03-14 18:32:35+00:00,1635710533751173121,"OpenAI says itâ€™s already partnered w Duolingo,...",issen,0.0,0.0
323606,2023-03-22 15:23:10+00:00,1638561968310169605,I gave chat gpt access to my hinge premium acc...,IBDeez,0.0,0.0
77999,2023-03-14 21:01:01+00:00,1635747884455849984,Embrace the power of AI in the classroom. ðŸ™Œ \n...,ISTEofficial,14.0,8.0
105848,2023-03-27 06:30:31+00:00,1640239859246804993,Returning to Twitter to see what people are bu...,markozivan0vic,0.0,0.0
288574,2023-01-05 03:20:47+00:00,1610838694180671488,Don't let fear hold you back from reaching you...,Akamotonft,11.0,6.0

In [36]:
# Check for missing values
print("Missing values:")
print(df.isnull().sum())

df = df.dropna()

Missing values:
date             0
id               0
content          0
username         0
like_count       1
retweet_count    1
dtype: int64

In [37]:
print("Data types:")
print(df.dtypes)

Data types:
date              object
id                object
content           object
username          object
like_count       float64
retweet_count    float64
dtype: object

In [38]:
print("Summary statistics:")
print(df.describe())

Summary statistics:
        like_count  retweet_count
count  1999.000000    1999.000000
mean      4.855428       1.061531
std      44.746283       9.308887
min       0.000000       0.000000
25%       0.000000       0.000000
50%       1.000000       0.000000
75%       2.000000       0.000000
max    1550.000000     259.000000

In [39]:
# Tokenize the text data in the "content" column
df['content_tokenized'] = df['content'].apply(lambda x: nltk.word_tokenize(str(x)))

# Display the tokenized data
print(df['content_tokenized'])

265567    [OpenAI, says, it, â€™, s, already, partnered, w...
323606    [I, gave, chat, gpt, access, to, my, hinge, pr...
77999     [Embrace, the, power, of, AI, in, the, classro...
105848    [Returning, to, Twitter, to, see, what, people...
288574    [Do, n't, let, fear, hold, you, back, from, re...
                                ...
147568    [Conversation, with, my, 11, yr, old, :, do, y...
204194    [Could, you, train, a, ChatGPT-beating, model,...
1613      [#, GPT4, is, here, already, (, #, ChatGPT, is...
322582    [@, dreamwieber, Now, You, can, create, a, vir...
190609    [Discover, a, mind-bending, journey, through, ...
Name: content_tokenized, Length: 1999, dtype: object

In [40]:
nltk.download('averaged_perceptron_tagger')
nltk.download('maxent_ne_chunker')
nltk.download('words')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /Users/maxwelllondon/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package maxent_ne_chunker to
[nltk_data]     /Users/maxwelllondon/nltk_data...
[nltk_data]   Package maxent_ne_chunker is already up-to-date!
[nltk_data] Downloading package words to
[nltk_data]     /Users/maxwelllondon/nltk_data...
[nltk_data]   Package words is already up-to-date!

True

In [41]:
def perform_ner(tokenized_text):
    tagged_text = nltk.pos_tag(tokenized_text)  # Perform part-of-speech tagging
    ner_result = ne_chunk(tagged_text)  # Perform named entity recognition
    return ner_result

# Apply NER to the 'content_tokenized' column
df['ner_result'] = df['content_tokenized'].apply(perform_ner)

# Display the named entity recognition results
print(df['ner_result'])

265567    [[(OpenAI, NNP)], (says, VBZ), (it, PRP), (â€™, ...
323606    [(I, PRP), (gave, VBD), (chat, WP), (gpt, JJ),...
77999     [(Embrace, NN), (the, DT), (power, NN), (of, I...
105848    [(Returning, VBG), (to, TO), [(Twitter, NNP)],...
288574    [(Do, VBP), (n't, RB), (let, VB), (fear, VB), ...
                                ...
147568    [(Conversation, NN), (with, IN), (my, PRP$), (...
204194    [(Could, MD), (you, PRP), (train, VB), (a, DT)...
1613      [(#, #), [(GPT4, NNP)], (is, VBZ), (here, RB),...
322582    [(@, JJ), (dreamwieber, NN), (Now, RB), (You, ...
190609    [(Discover, VB), (a, DT), (mind-bending, JJ), ...
Name: ner_result, Length: 1999, dtype: object

In [42]:
from collections import Counter
from nltk.tree import Tree

# Flatten the named entity results and extract named entities
flattened_entities = []
for sublist in df['ner_result']:
    for ent in sublist:
        if isinstance(ent, Tree):
            flattened_entities.append(' '.join([token[0] for token in ent.leaves()]))

# Count the frequency of named entities
entity_counts = Counter(flattened_entities)

# Get the top 25 named entities
top_entities = entity_counts.most_common(25)

# Display the top 25 named entities
for entity, count in top_entities:
    print(entity, count)

ChatGPT 701
OpenAI 127
Chat GPT 93
AI 89
GPT 89
Microsoft 82
Google 61
GPT4 45
Bard 29
NFT 18
chatGPT 18
YouTube 18
SEO 12
GenerativeAI 11
NLP 11
LLM 11
Python 11
Great 10
API 9
ChatGpt 9
Twitter 8
Midjourney 8
China 8
New 8
IoT 8